body {
    font-family: Arial, sans-serif;
}

h4 {
    font-weight: bold;
    color: #333;
}

#response-section {
    border-left: 1px solid #ddd;
}

pre {
    font-size: 14px;
    max-height: 70vh;
    overflow-y: auto;
    color: #333;
}

/* Efeito hover no botão */
.btn-hover:hover {
    background-color: #0056b3;
    color: white;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Estilização do spinner */
  #loading .spinner-border {
    width: 2rem;
    height: 2rem;
  }
  
